@page
@model IndexModel
@{
    //ViewData["Title"] = "Index page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
      <form method="post" id="loginFromId" action="/auth/login">
					<div class="form">
						<div class="m-account">
							<div class="phone item">
								<input type="text" id="username" name="username" placeholder="请输入学号/工号" value="demo">
							</div>
							<div class="password item">
								<input type="password" id="password" placeholder="密码" name="password" value="demo">
								<input type="hidden" id="saltPassword" name="password">
							</div>
									
						</div>
						<div id="formErrorTip" style="color:firebrick">
							<span id="showErrorTip">
								@ViewBag.ErrorTip
							</span>
						</div>
						<div class="btn">
						  <button>登录</button>
						</div>
					</div>
				</form>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
